<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="widith-device-width, initial-scale=1.0">
    <title>Cadastor</title>
</head>
<body>
    <h2>Cadastro de Produto</h2>
</body>

</html>