<!DOCTYPE html>
<html>
    <head>
        <meta charset=""UTF-8>
        <meta name="viewport" content="width=device-width, inicial-scalet=1.0">
        <title>Cadastro</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
<div> <h2>Cadrasto de Produto</h2>
     <button>Selecionar produto </button>
     <div>
        <form action="">
        <div>
            <label for="">Descriação</label>
            <input type="text" id="description" name="drescription" class="form-control" required>
            </div>
            <div>
                <label for="">Valor</label>
                <input type="text" id="volue" class="form-control" required>
                <button>Salvar</button>
                <button>Cancelar</button>  
            </div>
        </form>
     </div>
</div>
    
    </body>
</html>